@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100; 200; 300; 400; 500; 600; 700; 800; 900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.resize-handler {
    height: 10px;
    width: 10px;
    background-color: #0055ff;
    position: absolute;
    border-radius: 100px;
    border: 1px solid #ffffff;
    user-select: none;
    display: none;
}

.resize-handler:hover {
    background-color: #0000cc;
}

.resize-handler.rotate {
    cursor: url("https://findicons.com/files/icons/1620/crystal_project/16/rotate_ccw.png"),
        auto;
}

section {
    position: relative;
}

#tmpImgDiv {
    position: fixed;
    right: 5.67vw;
    width: 33.125vw;
    height: 38.54vw;
    background-color: #f4f4f4;
    overflow: hidden;
}

.zone {
    width: 33.125vw;
    margin-top: -60px;
    position: fixed;
    right: 0;

}

h2{
    background-color: #FD4525;
    color: #fff;
    padding: 0.98vw 0 0.98vw 1.82vw;
    font-size: 1.45vw;
    font-weight: 600;
}
.obj_list {
    width: 51.26vw;
    margin: 9.21vw 8.69vw 0 5.2vw;
    padding-bottom: 8.69vw;
}

.obj_list_box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.sticker {
    user-select: none;
    background-size: contain;
    background-repeat: no-repeat;
    /* width: 8.07vw; */
    height: 8.07vw;
    border: 0.022vw solid #9e9e9e; 
    /* -> gap 에 border를 넣을수 잇나? */
}

.big_sticker{
    grid-column: span 2;
}
#box25, #box26, #box27{
    height: 16.14vw;
}

.btn_wrap{
    position: fixed;
    bottom: 17vw;
    right: 5.625vw;
    display: flex;
    gap: 1.45vw;
}

button {
    width: 15.93vw;
    height: 4.3vw;
    border: 2.5px solid #FD4525;
    border-radius: 50px;
    cursor: pointer;

    text-decoration: none;
    font-family: "Montserrat";
    font-size: 1.66vw;
    font-weight: 600;
}

button#reset {
    background-color: #FD4525;
    color: #fff;
}

button#save {
    background-color: #fff;
    color: #FD4525;
}

/* .box { left: var(--left-1); top: var(--top-1); width: var(--width-0); height: var(--height-0); } */



#box1 { background-image: url("./img/logo/logo_1.svg"); } 
#box2 { background-image: url("./img/logo/logo_2.svg"); } 
#box3 { background-image: url("./img/logo/logo_3.svg"); } 
#box4 { background-image: url("./img/logo/logo_4.svg"); } 
#box5 { background-image: url("./img/logo/logo_5.svg"); } 
#box6 { background-image: url("./img/logo/logo_6.svg"); } 
#box7 { background-image: url("./img/illust/Ill_1.svg"); } 
#box8 { background-image: url("./img/illust/Ill_2.svg"); } 
#box9 { background-image: url("./img/illust/Ill_3.svg"); } 
#box10 { background-image: url("./img/illust/Ill_4.svg"); } 
#box11 { background-image: url("./img/illust/Ill_5.svg"); } 
#box12 { background-image: url("./img/illust/Ill_6.svg"); } 
#box13 { background-image: url("./img/illust/Ill_7.svg"); } 
#box14 { background-image: url("./img/illust/Ill_8.svg"); } 
#box15 { background-image: url("./img/illust/Ill_9.svg"); } 
#box16 { background-image: url("./img/illust/Ill_10.svg"); } 
#box17 { background-image: url("./img/illust/Ill_11.svg"); } 
#box18 { background-image: url("./img/illust/Ill_12.svg"); } 
#box19 { background-image: url("./img/illust/Ill_13.svg"); } 
#box20 { background-image: url("./img/illust/Ill_14.svg"); } 
#box21 { background-image: url("./img/illust/Ill_15.svg"); } 
#box22 { background-image: url("./img/illust/Ill_16.svg"); } 
#box23 { background-image: url("./img/illust/Ill_17.svg"); } 
#box24 { background-image: url("./img/illust/Ill_18.svg"); } 
#box25 { background-image: url("./img/illust/Ill_B1.svg"); } 
#box26 { background-image: url("./img/illust/Ill_B2.svg"); } 
#box27 { background-image: url("./img/illust/Ill_B3.svg"); } 
#box28 { background-image: url("./img/headtext/head_1.svg"); } 
#box29 { background-image: url("./img/headtext/head_2.svg"); } 
#box30 { background-image: url("./img/headtext/head_3.svg"); } 
#box31 { background-image: url("./img/headtext/head_4.svg"); } 
#box32 { background-image: url("./img/headtext/head_5.svg"); } 
#box33 { background-image: url("./img/headtext/head_6.svg"); } 
#box34 { background-image: url("./img/bodytext/body_1.svg"); } 
#box35 { background-image: url("./img/bodytext/body_2.svg"); } 
#box36 { background-image: url("./img/bodytext/body_3.svg"); } 
#box37 { background-image: url("./img/bodytext/body_4.svg"); } 
#box38 { background-image: url("./img/bodytext/body_5.svg"); } 
#box39 { background-image: url("./img/bodytext/body_6.svg"); }
#box40 { background-image: url("./img/bodytext/body_7.svg"); } 
#box41 { background-image: url("./img/bodytext/body_8.svg"); }
#box42 { background-image: url("./img/bodytext/body_9.svg"); } 
#box43 { background-image: url("./img/drawing/ele_1.svg"); } 
#box44 { background-image: url("./img/drawing/ele_2.svg"); } 
#box45 { background-image: url("./img/drawing/ele_3.svg"); } 
#box46 { background-image: url("./img/drawing/ele_4.svg"); } 
#box47 { background-image: url("./img/drawing/ele_5.svg"); } 
#box48 { background-image: url("./img/drawing/ele_6.svg"); } 
#box49 { background-image: url("./img/drawing/ele_7.svg"); } 
#box50 { background-image: url("./img/drawing/ele_8.svg"); } 
#box51 { background-image: url("./img/drawing/ele_9.svg"); } 
#box52 { background-image: url("./img/drawing/ele_10.svg"); } 
#box53 { background-image: url("./img/drawing/ele_11.svg"); } 
#box54 { background-image: url("./img/drawing/ele_12.svg"); } 
#box55 { background-image: url("./img/drawing/ele_13.svg"); } 
#box56 { background-image: url("./img/drawing/ele_14.svg"); } 
#box57 { background-image: url("./img/drawing/ele_15.svg"); } 
#box58 { background-image: url("./img/drawing/ele_16.svg"); } 
#box59 { background-image: url("./img/drawing/ele_17.svg"); } 
#box60 { background-image: url("./img/drawing/ele_18.svg"); } 
